@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

:root {
  --nav: #93b5c6;
  --sidebar: #c9ccd5;
  --background: #e4d8dc;
  --task: #ffe3e3;
  --blackish: #181818;
  --redish: #b42b51;

  --darknav: #6c4a39;
  --darksidebar: #36332a;
  --darkbackground: #1b2723;
  --darktask: #412a3b;
  --darkblackish: #e7e7e7;
  --darkredish: #4bd4ae;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  background: var(--nav);
  color: var(--blackish);
}

.top-right-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 15vw;
  background: var(--redish);
  color: whitesmoke;
}

.search-wrapper {
  max-width: 25vw;
  display: flex;
  justify-content: center;
}

.searchTerm {
  width: 85%;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.search > i {
  margin-right: 1rem;
}

.menu {
  display: none;
}

.options-selector {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 0 1rem;
}

.options-selector:hover .options-content,
.options-selector:focus .options-content {
  display: flex;
}

.options-content {
  display: none;
  position: absolute;
  background: var(--nav);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 1em;
  right: 0px;
  text-align: center;
  width: 200px;
  height: 100px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.options-content > div:hover {
  background: rgb(137, 84, 184);
}

.options-content > a {
  color: greenyellow;
}

.main-wrapper {
  display: flex;
  min-height: 100%;
  align-items: stretch;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 15vw;
  min-height: 93vh;
  background: var(--sidebar);
  color: var(--blackish);
  padding: 10px;
  gap: 20px;
}

.sidebar > div,
.search,
.options-selector,
.float {
  cursor: pointer;
}

.upper-sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.manage-category {
  margin-top: auto;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-top: solid 1px black;
}

.menu-toggle {
  display: none;
}

.heading-container {
  height: fit-content;
}

.content-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--background);
  min-height: 93vh;
  width: 85vw;
  padding-left: 25px;
}

.heading-container > .heading {
  text-align: center;
}

.taskList-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  min-height: fit-content;
}

.task-container {
  display: flex;
  width: 95%;
  min-height: 5vh;
  justify-content: space-around;
  align-items: center;
  background: var(--task);
  border: solid 1px black;
  gap: 15px;
  padding: 0 0 0 20px;
}

.task-container > * {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex: 1 1 100%;
  transition: all 0.5s;
}

.task-container.expand {
  display: flex;
  min-height: 10vh;
  justify-content: flex-end;
  transition: all 0.5s;
}

.delete-button {
  display: flex;
  align-items: center;
}

.task-category {
  text-align: center;
}

.task-title-heading,
.task-description-heading,
.dueDateHeading,
.priority-heading,
.notes-heading {
  text-decoration: underline;
}

.task-title,
.task-description,
.dueDate,
.priority,
.notes {
  font-size: 20px;
  transition: all 0.5s;
}

.priority {
  min-width: 100%;
  text-align: center;
}

.high-priority {
  background: rgb(179, 17, 17);
  color: whitesmoke;
}

.medium-priority {
  background: rgb(39, 118, 207);
  color: whitesmoke;
}

.low-priority {
  background: rgb(23, 161, 23);
  color: whitesmoke;
}

.task-options-wrapper {
  display: flex;
  justify-content: right;
  padding: 0 20px 0 20px;
  max-width: fit-content;
  height: 100%;
  background: var(--redish);
  color: whitesmoke;
}

.task-container.expand > * {
  height: 100%;
  transition: all 0.5s;
}

.task-container.expand > .task-category {
  align-items: center;
}

.task-container.expand > .title-wrapper,
.task-container.expand > .description-wrapper,
.task-container.expand > .dueDate-wrapper,
.task-container.expand > .priority-wrapper,
.task-container.expand > .notes-wrapper {
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.notes-wrapper {
  min-width: 20vw;
}

.notes {
  word-wrap: break-word;
  word-break: break-all;
}

.task-container.expand > .task-options-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}

.expand-button {
  justify-content: center;
  height: 100%;
  max-width: 50px;
  transition: all 0.5s;
}

.task-container.expand > .expand-button {
  align-items: center;
  transform: rotate(180deg);
  transition: all 0.5s;
}

.task-options-wrapper > * {
  max-width: 50px;
}

.complete > .title-wrapper > .task-title,
.complete > .description-wrapper > .task-description,
.complete > .dueDate-wrapper > .dueDate,
.complete > .notes-wrapper > .notes {
  text-decoration: line-through;
}

.complete > .delete-button {
  text-decoration: none;
}

.float {
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 50px;
  right: 50px;
  background: var(--redish);
  color: whitesmoke;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999;
}

.float:hover {
  transition: all 0.5s;
  transform: scale(1.3);
}

#myfloat {
  font-size: 60px;
}

#myfloat-new-category {
  width: 80px;
  height: 80px;
  bottom: 250px;
  right: 50px;
}

#myfloat-new-task {
  width: 80px;
  height: 80px;
  bottom: 150px;
  right: 50px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  width: 50vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--sidebar);
  z-index: 1;
  border: solid 2px black;
  padding: 5px 0 20px 0;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modal-wrapper > * {
  width: 90%;
}

.modal-wrapper > p {
  text-align: center;
}

.modal-heading {
  text-align: center;
}

.close-button {
  font-size: 2rem;
  margin-right: 5%;
  align-self: flex-end;
  color: crimson;
  font-weight: bolder;
  cursor: pointer;
}

.category-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.delete-cat {
  color: crimson;
  font-weight: bolder;
  cursor: pointer;
  margin-left: 2rem;
}

.hidden {
  display: none;
}

body.darkmode > .nav {
  filter: invert(100%) hue-rotate(240deg);
}

body.darkmode > .options-content {
  filter: invert(100%) hue-rotate(240deg);
}

body.darkmode > .main-wrapper > .sidebar {
  filter: invert(100%) hue-rotate(240deg);
}

body.darkmode > .main-wrapper > .content-area {
  background: var(--darkbackground);
  color: whitesmoke;
}

body.darkmode
  > .main-wrapper
  > .content-area
  > .taskList-container
  > .task-container {
  background: var(--darktask);
  color: whitesmoke;
}

body.darkmode > .modalContent > .modal {
  filter: invert(100%) hue-rotate(240deg);
}

body.darkmode > .task-options-wrapper {
  filter: invert(100%) hue-rotate(240deg);
}

body.darkmode > .modal {
  filter: invert(100%) hue-rotate(240deg);
}

.login-modal-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--nav);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.login-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: var(--background);
  z-index: 10;
  width: 33%;
  max-height: 90%;
}

.login-modal-overlay.hidden,
.btnLogout.hidden {
  display: none;
}

#login {
  max-width: 100%;
}

.login-header {
  text-align: center;
}

form {
  padding: 3rem 2rem 2rem 2rem;
  background: var(--background);
  border: 1px solid var(--redish);
}

.group {
  position: relative;
  margin-bottom: 1rem;
}

#txtEmail,
#txtPassword {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #fafafa;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

#txtEmail:focus,
#txtPassword:focus {
  outline: none;
}

input:focus ~ label,
input.used ~ label {
  color: blueviolet;
}

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: 0.3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  background: var(--redish);
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus {
  outline: 0;
}

.button:hover {
  background: #db456f;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.info-container > li {
  margin: 0.3rem 0;
}

.btnLogout {
  position: relative;
  display: flex;
  padding: 12px 24px;
  margin: 0 auto;
  vertical-align: middle;
  background: var(--redish);
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
  transition: all 0.15s ease;
  margin-top: 1rem;
}

input,
select {
  height: 2.5rem;
  padding: 0.5rem;
}

textarea {
  padding: 0.5rem;
}

.add-button {
  height: 2.5rem;
  margin-top: 2rem;
  background-color: var(--redish);
  color: #fff;
  border: none;
}

@media all and (max-width: 768px) {
  .nav {
    justify-content: space-around;
    padding-right: 0;
  }

  .sidebar {
    position: fixed;
    left: -45%;
    width: 50vw;
    transition: all 0.5s;
    padding: 10px 6px 10px 10px;
  }

  .logo {
    display: none;
  }

  .menu {
    display: block;
  }

  .menu-toggle {
    display: block;
    align-self: flex-end;
    transition: all 0.5s;
  }

  .expanded {
    transform: rotate(180deg);
    transition: all 0.5s;
  }

  .main-wrapper {
    display: flex;
  }

  .content-area {
    width: 100vw;
    padding: 25px;
  }

  .taskList-container {
    flex-direction: column;
    align-items: center;
  }

  .task-container {
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    min-height: 15vh;
    padding-top: 15px;
    padding: 20px 0 0 0;
    gap: 5px;
  }

  .task-container > * {
    gap: 10px;
  }

  .task-container.expand {
    justify-content: center;
  }

  .task-container.expand > * {
    height: fit-content;
  }

  .task-container.expand > .task-options-wrapper {
    flex-direction: row;
  }

  .expand-button {
    height: auto;
  }

  .task-options-wrapper {
    display: flex;
    width: 100%;
    max-width: unset;
    height: initial;
    justify-content: space-evenly;
    padding: 0;
  }

  .slide {
    left: 0;
    transition: all 0.5s;
  }

  .float {
    bottom: 40px;
    right: 25px;
    width: 60px;
    height: 60px;
    font-size: small;
  }

  #myfloat {
    font-size: 40px;
  }

  #myfloat-new-category {
    bottom: 200px;
    right: 25px;
    width: 60px;
    height: 60px;
  }

  #myfloat-new-task {
    bottom: 120px;
    right: 25px;
    width: 60px;
    height: 60px;
  }

  .modal {
    width: 75vw;
  }

  .toggle-darkmode {
    margin-bottom: 1rem;
  }

  .login-modal-body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    padding: 1rem;
  }

  form {
    width: 100%;
    padding: 1rem;
  }

  .group {
    margin-bottom: 0;
  }

  .info-container {
    margin: 1rem 0;
  }
}
